@import '../../assets//variables.scss';

.filter-panel {
    font-size: 0.8rem;
    @media (max-width: 767px) {
        display: none;
    }
    &.form-check {
        line-height: 2rem;
    } 
    &.header {
        font-size: 1rem;
    }
    &.qty {
        display: inline-block;
        padding: 0.5rem;
        border: 1px solid #6c757d;
        margin-right: 1px;
        margin-bottom: 1px;
        border-radius: 2px;
        cursor: pointer;
        &:hover{
            background-color: #d5dfe7;
        }
    }
    &.chosen {
        background-color: #6c757d;
        color: white;
        &:hover{
            background-color: #6c757d;
            color: white;
        }
    }
}