@import '../../assets/variables.scss';

.home {
    @include wrapper;
    &.provinces-block_item {
        padding: 1rem;
        margin: 0;
        position: relative;
        &_title {
            position: absolute;
            top: 10%;
            left: 5%;
            font-size: 1.5rem;
            color: whitesmoke;
            font-weight: bold;
            text-shadow: 2px 2px $dark;
        }
        & img {
            width: 100%;
        }
    }
    &.aboutus {
        border: 1px solid $light-grey;
        border-radius: 2px;
        padding: 2rem;
        & img {
            width: 100%;
        }
        & i {
            color: $dark;
            font-size: 2.5rem;
            margin-right: 1rem;
        }
    }
}