.error {
    background: url('https://media.istockphoto.com/vectors/abandoned-house-spooky-place-dilapidated-building-error-404-page-not-vector-id816802498?b=1&k=6&m=816802498&s=612x612&w=0&h=OF3-TxrgKaopmdUrsnSfgAyaau9s_nBLXLW7G0nfwRM=') no-repeat center center;
    height:50vh;
    text-align: center;
}