.message {
    margin-top: 1rem;
    font-size: .8rem;
    font-weight: bold;
    &_success {
        color: green;
    }
    &_error {
        color: red;
    }
    &_loading {
        margin-top: 1rem;
        color: #007bff;
        opacity: 1;
        font-size: 1.5rem;
    }
}

.submit_box {
    display: flex;
    align-items: center;
    gap: 1rem;
}
