@import '../../assets/variables.scss';

.nav-link {
    font-family: $heading-font;
    color: white;
    &:hover {
        background-color: white;
        color: #343a40;
    }
    &>h1 {
        @media (max-width: 470px) {
            font-size: 1.9rem;
        }
    }
    &.drawer {
        text-align: right;
        margin-right: 2rem;
    }
}

.navbar-toggler {
    display: none;
    @media (max-width: 755px) {
        display: inline-block;
    }
}

.nav.nav-pills {
    display: '';
    @media (max-width: 755px) {
        display: none;
    }
}

.activeItem {
    text-decoration: underline;
}
