.message {
    margin-top: 1rem;
    font-size: .8rem;
    font-weight: bold;
    &_success {
        color: green;
    }
    &_error {
        color: red;
    }
}

.form-title {
    font-size: 1.4rem;
}

