.card {
    &.horizontal {
        /* display: flex;
        flex-direction: row;
        align-items: center; */
        display: grid;
        align-items: center;
        grid-template-columns: 5fr 7fr;
        @media only screen and (max-width: 990px) {
            grid-template-columns: 6fr 6fr;
        }
    }
    &-img-top {
        max-width: 100%;
        &.horizontal {
            float: left;
            max-width: 100%;
        }
    }
    &-subheader-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-weight: bold;
    }
    &-type {
        font-style: italic;
    }
    &-geo {
        font-weight: bold;
    }
    &-space {
        
        font-size: 80%;
    }
    //horizontal version:
    &.horizontal {

    }
}
