$dark: #343a40;
$white: whitesmoke;
$light-grey: #d9d9d9;

$heading-font: 'Merriweather', Helvetica, Verdana, Arial, sans-serif;
$text-font: 'Lato', Helvetica, Verdana, Arial, sans-serif;

@mixin wrapper {
    padding: 2rem 1rem;
}

h1, h2, h3, h4, h5 {
    font-family: $heading-font;
}

p, div {
    font-family: 'Lato', Helvetica, Verdana, Arial, sans-serif;
}

.errMess {
    color: red;
    font-weight: bold;
    font-size: 0.9rem;
}

.mapouter {
    height: auto;
    width: auto;
    margin: 2rem 0;
    padding-top: 2rem;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height: auto;
    width: auto;
}
