@import '../../assets/variables.scss';


.details {
    @include wrapper;
    &-prop-header {
        font-weight: bold;
    }
    &-prop-basicdata {
        font-size: 1.5rem;
    }
}

.contact-form-details {
    padding: 2rem 1rem;
    /* border: 1px solid $light-grey;
    border-radius: 2px; */
}

.mapouter {
    /* position:relative;
    text-align:right; */
    /* height:500px;
    width:600px; */
    height: auto;
    width: auto;
    margin: 2rem 0;
    padding-top: 2rem;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    /* height:500px;
    width:600px; */
    height: auto;
    width: auto;
}