@import '../../assets/variables.scss';


.details {
    @include wrapper;
    &-prop-header {
        font-weight: bold;
    }
    &-prop-basicdata {
        font-size: 1.5rem;
    }
}

.contact-form-details {
    padding: 2rem 1rem;
    /* border: 1px solid $light-grey;
    border-radius: 2px; */
}